<div class="row">
  <div class="col-12 input-group mb-2 mb-sm-0 col-12">
    <div class="input-group-addon">Limite</div>
    <input type="text" class="form-control" id="limite" placeholder="3" (keyup)="changeLimite($event)">
  </div>
</div>
<div class="row">
    <div class="col-12 input-group mb-2 mb-sm-0 col-12">
      <div class="input-group-addon">Filtrer par pseudo</div>
      <input type="text" class="form-control" id="filtre" placeholder="Filtrer" (keyup)="changeFiltre($event)">
    </div>
  </div>
<div class="row">
  <div class="col-lg-4 col-xs-12" *ngFor='let col of collegues|slice:0:limite|filtreNom:commencePar'>
    <app-un-collegue-cla [collegue]="col"></app-un-collegue-cla>
  </div>
</div>