<div class="card" style="width:20rem;">
  <div class="img-container">
    <img class="card-img-top card-img" [src]="collegue.urlImg" alt="Photo de {{collegue.nom}}" (click)="changerDePage()">
  </div>
  <div class="card-block">
    <h4 class="card-title" align="center"><a routerLink="/detail/{{collegue.id}}">{{collegue.nom}}</a></h4>
    <h4 class="card-title" align="center">{{collegue.score}}</h4>
    <button class="btn btn-success col-4 float-left" (click)="jaime()">J'aime</button>
    <button class="btn btn-danger col-4 float-right" (click)="jeDeteste()">Je déteste</button>
  </div>
</div>